<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes” />
<meta name="description" content="taiyouinfo">
<title>河北泰佑信息技术有限公司</title>
<link rel="stylesheet" type="text/css" href="../../../Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../../../Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="../../../Assets/css/thems.css">
<script type="text/javascript" src="../../../Assets/js/jquery-1.8.3.min.js"></script>

<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="../../../Assets/css/ie.css"/>
<script type="text/javascript" src="../../../Assets/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src../../../Assets/js/html5.js"></script>
<style type="text/css">
body{
	behavior:url(../../../Assets/css/css3pie.htc);
    behavior:url(../../../Assets/css/csshover.htc);
}
</style>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="../../../Assets/js/DD_belatedPNG_0.0.7a.js"></script>
<script>
  DD_belatedPNG.fix('.news .title, .news .more img , .box_h , fieldset, img , .left_nav .lei li');
</script>
<![endif]-->

</head>
<body>
<!--头部-->
<div class="head_bg">
    <div class="header clearfix">
        <div class="logo">
            <a href="../../../index.html"><img src="../../../Assets/images/logo.png">
            <span>河北泰佑信息技术有限公司</span></a>
        </div>
        <dl class="tel clearfix">
            <dt><a href=""><img src="../../../Assets/images/tel.png" alt=""/></a></dt>
            <dd>服务热线：</dd>
            <dd><span>0311-88813216</span></dd>
        </dl>
    </div>
</div>
<!--头部-->
<!--导航条-->
<div class="nav_bg">
    <ul class="nav clearfix">
        <li><a href="../../../index.html">首页</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../../company_profile.html">公司简介</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../../pro_list.html">产品中心</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../../service_field.html">服务领域</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../../news_industry.html">新闻中心</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../../human_resources.html">人力资源</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../../contact_us.html">联系我们</a></li>
    </ul>
</div>
<!--导航条-->

<div class="main">
<!--产品展示-->
<div class="pro_list clearfix">
	<div class="left_nav">
    	<div class="box_h">
        	<span>新闻中心</span>
        </div>
        <ul class="lei">
        	<li><span><a href="../new_company.html">公司新闻</a></span></li>
            <li><span><a href="../../../news_industry.html">行内资讯</a></span></li>
        </ul>
        <div class="space_hx">&nbsp;</div>
        <!--联系我们-->
        <div class="contact">
            <div class="box_h">
                <span>联系我们</span>
            </div>
            <ul class="contact_m">
                <li><h3>河北泰佑信息技术有限公司</h3></li>
                <li><span>电话：</span>0311-88813216</li>
                <li><span>传真：</span>0311-85202267</li>
                <li><span>邮箱：</span>postmaster@taiyouinfo.com</li>
                <li><span>地址：</span>河北省石家庄市红旗大街88号翰林观天下22号楼1602室</li>
            </ul>
        </div>
        <!--联系我们-->
    </div>
    <div class="pro_m">
    	<div class="box_h">
        	<span>新闻详情</span>
        </div>
        <div class="pro_md">
        	<h1>“互联网+农业”大潮已起 农业大数据时代到来</h1>
            <div class="time">
            	<span>来源：中国投资咨询网</span>
                <span>发布时间：2016-01-20 09:24</span>
                <!-- <span>浏览次数：888次</span> -->
            </div>
            <div class="ctn">
            	<p>
                    时值年初，聚焦“三农”问题的2016年中央一号文件颁布在即。据悉，去年底中央农村工作会议上公布的《中共中央、国务院关于落实发展新理念加快农业现代化实现全面小康目标的若干意见（讨论稿）》已被列为今年一号文件的草稿。而从标题看，一号文件也将连续第四年聚焦农业现代化。而与前两年相比，今年在秉承农业现代化工作推进的基本思路上，更提出了落实新的发展理念和实现全面小康的目标。此前，国家已密集发布了一系列重量级的农业政策文件，涉及农村电子商务、农垦改革、农村深改等农业现代化进程中的重要议题。
                </p>
                <p>
                   业内普遍认为，与中央提出供给侧改革的目标相一致，2016年中央一号文件将着力加强农业供给侧改革，同时聚焦农业现代化，推进农村一二三产业融合发展。在具体细分领域方面，发展农村电子商务将连续第四年写入文件，而且对其扶持的力度和过去相比或有较大突破。 
                </p>
                <p>
                    农村电子商务作为一种新兴业态，已经渗透到农业全产业链，在降低农村流通成本、提高农产品(000061,买入)商品化率等方面成效显著。从农村互联网基础设施完善度、国家政策导向以及产业界动向来看，“互联网+农业”大潮已起，农业大数据时代到来。在农产品积极触网的推动下，由此带来的市场空间将达万亿规模，拥有渠道和品牌优势的企业，将获得市场份额提升契机。
                </p>
                <p>
                    A股市场中，新都化工(002539,买入)拥有哈哈农庄一站式服务平台；
                </p>
                <p>
                    诺普信(002215,买入)以田田圈为核心的农资互联网生态；
                </p>
                <p>
                    金正大(002470,买入)农商1号一体综合平台等。
                </p>
            </div>
            <div class="space_hx">&nbsp;</div>
            <!--导向页-->
            <!-- <div class="page_dx">
            	<p>
                	<em>上一篇：</em>
                    <span>没有了</span>
                </p>
                <p>
                	<em>下一篇：</em>
                    <a href="../../../">T6企业管理软件</a>
                </p>
            </div> -->
            <!--导向页-->
        </div>
    </div>
</div>
<!--产品展示-->
</div>
<!--底部-->
<div class="foot">
    <p class="f_nav">
        <a href="../../../index.html">网站首页</a>|
        <a href="../../../company_profile.html">公司简介</a>|
        <a href="../../../pro_list.html">产品中心</a>|
        <a href="../../../service_field.html">服务领域</a>|
        <a href="../../../news_industry.html">新闻中心</a>|
        <a href="../../../human_resources.html">人力资源</a>|
        <a href="../../../contact_us.html">联系我们</a>
    </p>
    <p>
        <span>联系电话：0311-88813216 </span>
        <span>备案号：冀ICP备16000136号-1 </span>
    </p>
    <p>&copy;Copyright 河北泰佑信息技术有限公司 版权所有</p>
</div>
<!--底部-->
</body>
</html>
