<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes” />
<meta name="description" content="taiyouinfo">
<title>河北泰佑信息技术有限公司</title>
<link rel="stylesheet" type="text/css" href="../../Assets/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="../../Assets/css/common.css"/>
<link rel="stylesheet" type="text/css" href="../../Assets/css/thems.css">
<script type="text/javascript" src="../../Assets/js/jquery-1.8.3.min.js"></script>

<!--[if lte IE 9]>
<link rel="stylesheet" type="text/css" href="Assets/css/ie.css"/>
<script type="text/javascript" src="Assets/js/css3-mediaqueries.js"></script>
<script type="text/javascript" src="Assets/js/html5.js"></script>
<style type="text/css">
body{
	behavior:url(Assets/css/css3pie.htc);
    behavior:url(Assets/css/csshover.htc);
}
</style>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="Assets/js/DD_belatedPNG_0.0.7a.js"></script>
<script>
  DD_belatedPNG.fix('.news .title, .news .more img , .box_h , fieldset, img , .left_nav .lei li');
</script>
<![endif]-->

<style type="text/css">
	.main_r{
		padding-top: 10px;
	}
	.main_r div{
		text-align: center;
	}
	.main_r div img{
		width: 90%;
	}
</style>
</head>

<body>
<!--头部-->
<div class="head_bg">
    <div class="header clearfix">
        <div class="logo">
            <a href="index.html"><img src="../../Assets/images/logo.png">
            <span>河北泰佑信息技术有限公司</span></a>
        </div>
        <dl class="tel clearfix">
            <dt><a href=""><img src="../../Assets/images/tel.png" alt=""/></a></dt>
            <dd>服务热线：</dd>
            <dd><span>0311-88813216</span></dd>
        </dl>
    </div>
</div>
<!--头部-->
<!--导航条-->
<div class="nav_bg">
    <ul class="nav clearfix">
        <li><a href="../../index.html">首页</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../company_profile.html">公司简介</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../pro_list.html">产品中心</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../service_field.html">服务领域</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../news_list.html">新闻中心</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../human_resources.html">人力资源</a></li>
        <li class="line">&nbsp;</li>
        <li><a href="../../contact_us.html">联系我们</a></li>
    </ul>
</div>
<!--导航条-->

<div class="main">
<!--产品展示-->
<div class="pro_list clearfix">
	<div class="left_nav">
    	<div class="box_h">
        	<span>公司简介</span>
        </div>
        <ul class="lei">
        	<li><span><a href="../../company_profile.html">公司概况</a></span></li>
            <li><span><a href="culture.html">企业文化</a></span>
            </li>
            <li><span><a href="history.html">发展历程</a></span></li>
            <li><span><a href="operate.html">公司运营体系</a></span></li>
            <li><span><a href="about.html">关于我们</a></span></li>
        </ul>
        <div class="space_hx">&nbsp;</div>
        <!--联系我们-->
        <div class="contact">
            <div class="box_h">
                <span>联系我们</span>
            </div>
            <ul class="contact_m">
                <li><h3>河北泰佑信息技术有限公司</h3></li>
                <li><span>电话：</span>0311-88813216</li>
                <li><span>传真：</span>0311-85202267</li>
                <li><span>邮箱：</span>postmaster@taiyouinfo.com</li>
                <li><span>地址：</span>河北省石家庄市红旗大街88号翰林观天下22号楼1602室</li>
            </ul>
        </div>
        <!--联系我们-->
    </div>
    <div class="pro_m">
    	<div class="box_h">
        	<span>发展历程</span>
        </div>
        <div class="main_r clearfix">
            <p> 
              河北泰佑成长的脚步踏着中国互联网+的发展印记，从2011年起专注致力于智慧党建和农村电子商务应用的探索，对互联网应用技术执着探索和业务应用的完美融合，泰佑在短短5年从初入门径到成为国内智慧党建和农村电子商务的重要力量之一，河北泰佑历经了……
			</p>
			<p style="font-weight: bold;">初露峥嵘  铸基立身</p>
			<p>2011.1    河北华赛电子科技有限公司成立</p>
		    <p>2011.4    会议交互直播系统研发成功</p>
		    <p>2011.8    HS-1基站防盗窃系统开发成功</p>
		    <p>2012.10  IPTV教育应用平台研发成功</p>
		    <p>2013.8    IPTV党建应用平台研发成功</p>
		    <p>2014.10  智慧党建移动平台研发成功</p>
		    <p>2015.6    河北泰佑信息技术有限公司成立</p>
	    	<p>2015.6   启动基层村务智慧管理平台开发</p>
	    	<p>2015.7    TY-300第三代基站防盗系统开发成功</p>
	    	<p>2015.8    启动农产品电子商务平台开发</p>
	    	<p style="font-weight: bold;">锐意进取 开创未来</p>
	    	<p>河北泰佑信息技术有限公司自2015年改制以来，根据互联网+发展趋势精准调整公司发展目标和组织架构，确立了智慧党建、农村电商和基站防盗三个核心业务发展方向，围绕这核心业务开发专业的智慧管理平台及系列化产品，并在此基础上形成覆盖各类行业需求的全面解决方案，并逐步由产品化定制项目开发向基于云服务公共平台的叠加服务转变。</p>
	    	<p>未来泰佑将基于云服务和行业大数据的价值挖掘及分析，围绕客户需求提供不断自我成长的智慧党建和三农信息化服务平台，让广大基层干部、农民和社会共享知识创新的价值。</p>
	    	<br>
	    	<div>
	    		<img src="../../Assets/images/history.png">
	    	</div>
	    	
        </div>
    </div>
</div>
<!--产品展示-->
</div>
<!--底部-->
<div class="foot">
    <p class="f_nav">
        <a href="../../index.html">网站首页</a>|
        <a href="../../company_profile.html">公司简介</a>|
        <a href="../../pro_list.html">产品中心</a>|
        <a href="../../service_field.html">服务领域</a>|
        <a href="../../news_list.html">新闻中心</a>|
        <a href="../../human_resources.html">人力资源</a>
        <a href="../../contact_us.html">联系我们</a>
    </p>
    <p>
        <span>联系电话：0311-88813216 </span>
        <span>备案号：冀ICP备16000136号-1 </span>
    </p>
    <p>&copy;Copyright 河北泰佑信息技术有限公司 版权所有</p>
</div>
<!--底部-->
</body>
</html>
